::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  overflow-x: hidden;
}
body header {
  height: 100vh;
  padding: 5px;
  background-image: url(../assets/image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body header nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 6em;
  padding: 10px;
  margin-top: 0.8em;
  display: flex;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  align-items: center;
}
body header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin-right: 2em;
}
body header nav ul li {
  list-style: none;
  padding: 5px;
  border-bottom: 2px white solid;
}
body header nav ul li a {
  font-size: 18px;
  color: #fff;
}
body header nav #logo {
  width: 30%;
  color: coral;
  margin-left: 2em;
  font-size: 35px;
  font-weight: 700;
  font-style: bold;
  font-family: "Cinzel", sans-serif;
}
body main {
  width: 100%;
  /* section plats*/
  /* section menue*/
}
body main #sec_nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 4em;
  padding: 10px;
  margin-top: 0.8em;
  display: flex;
  z-index: 50;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  align-items: center;
}
body main #sec_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin: auto;
}
body main #sec_nav ul li {
  list-style: none;
  padding: 5px;
  border-bottom: 2px white solid;
}
body main #sec_nav ul li a {
  font-size: 18px;
  color: #fff;
}
body main #wwr {
  width: 80%;
  height: 100vh;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  border-bottom: 1px solid rgb(187, 49, 49);
}
body main #wwr h1 {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
body main #wwr #infous {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #wwr #infous #wwr_t,
body main #wwr #infous #wwr_p,
body main #wwr #infous #wwr_rs {
  width: 32%;
  height: 500px;
  border-radius: 10px;
  text-align: justify;
  padding: 10px;
}
body main #wwr #infous #wwr_t:hover,
body main #wwr #infous #wwr_p:hover,
body main #wwr #infous #wwr_rs:hover {
  background-color: rgba(60, 59, 59, 0.291);
}
body main #wwr #infous #wwr_p h2,
body main #wwr #infous #wwr_t h2,
body main #wwr #infous #wwr_rs h2 {
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-bottom: 0.5em;
}
body main #wwr #infous #wwr_p #img_rest,
body main #wwr #infous #wwr_t #img_rest,
body main #wwr #infous #wwr_rs #img_rest {
  overflow: hidden;
}
body main #wwr #infous #wwr_p #img_rest #img1,
body main #wwr #infous #wwr_t #img_rest #img1,
body main #wwr #infous #wwr_rs #img_rest #img1 {
  transform-origin: center;
  width: 100%;
  background-size: cover;
}
body main #wwr #infous #wwr_p #img,
body main #wwr #infous #wwr_t #img,
body main #wwr #infous #wwr_rs #img {
  overflow: hidden;
}
body main #wwr #infous #wwr_p #img #img2,
body main #wwr #infous #wwr_t #img #img2,
body main #wwr #infous #wwr_rs #img #img2 {
  transform-origin: center;
  width: 100%;
  background-size: cover;
}
body main #wwr #infous #wwr_p #img_team,
body main #wwr #infous #wwr_t #img_team,
body main #wwr #infous #wwr_rs #img_team {
  overflow: hidden;
}
body main #wwr #infous #wwr_p #img_team #img3,
body main #wwr #infous #wwr_t #img_team #img3,
body main #wwr #infous #wwr_rs #img_team #img3 {
  transform-origin: center;
  width: 100%;
  background-size: cover;
}
body main #wwr #infous #wwr_p #img,
body main #wwr #infous #wwr_p #img_team,
body main #wwr #infous #wwr_p #img_rest,
body main #wwr #infous #wwr_t #img,
body main #wwr #infous #wwr_t #img_team,
body main #wwr #infous #wwr_t #img_rest,
body main #wwr #infous #wwr_rs #img,
body main #wwr #infous #wwr_rs #img_team,
body main #wwr #infous #wwr_rs #img_rest {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-bottom: 0.5em;
  background-color: #fff;
  border-radius: 100%;
}
body main #wwr #infous #wwr_p #memo,
body main #wwr #infous #wwr_p #memo_team,
body main #wwr #infous #wwr_t #memo,
body main #wwr #infous #wwr_t #memo_team,
body main #wwr #infous #wwr_rs #memo,
body main #wwr #infous #wwr_rs #memo_team {
  margin-top: 1.5em;
}
body main #wwr #infous #wwr_p #sign,
body main #wwr #infous #wwr_t #sign,
body main #wwr #infous #wwr_rs #sign {
  width: 100%;
  text-align: center;
  margin-top: 4em;
}
body main #wwr #infous #wwr_p #sign h5,
body main #wwr #infous #wwr_t #sign h5,
body main #wwr #infous #wwr_rs #sign h5 {
  text-decoration: underline;
  font-size: 2opx;
}
body main #plats {
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
}
body main #plats h2 {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 70px;
  font-family: "Great Vibes", cursive;
  margin-bottom: 1.5em;
}
body main #plats #p_p {
  width: 70%;
  overflow: hidden;
  margin: auto;
}
body main #plats #p_p #i_plat {
  width: 100%;
  background-size: cover;
  height: 90vh;
  background-position: center;
  transition: transform 0.5s easeInOutQuad;
}
body main #plats #p_p .zoom {
  transform: scale(1.1);
}
body main #menu {
  width: 70%;
  margin: auto;
  margin-top: 3em;
  padding: 5px;
  border-bottom: 1px solid rgb(187, 49, 49);
}
body main #menu h2 {
  width: 50%;
  text-align: center;
  font-size: 40px;
  font-family: "Great Vibes";
  margin: auto;
  margin-bottom: 1.5em;
}
body main #menu #_menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}
body main #menu #_menu #_jour,
body main #menu #_menu #_nuit {
  border-radius: 10px;
  width: 50%;
  text-align: center;
  padding: 10px;
}
body main #menu #_menu #_jour h2,
body main #menu #_menu #_nuit h2 {
  margin-top: 1em;
  margin-bottom: 2em;
}
body main #menu #_menu #_jour table,
body main #menu #_menu #_nuit table {
  width: 100%;
  padding: 10px;
  border-collapse: collapse;
}
body main #menu #_menu #_jour table tr,
body main #menu #_menu #_nuit table tr {
  display: flex;
  padding: 3px;
  border-bottom: #fff 2px solid;
  margin-bottom: 1.5em;
  justify-content: space-around;
  text-align: center;
}
body main #menu #_menu #_jour table tr th,
body main #menu #_menu #_nuit table tr th {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
}
body main #menu #_menu #_jour table tr td,
body main #menu #_menu #_nuit table tr td {
  width: 40%;
  margin: auto;
  text-align: center;
}
body main #menu #_menu #_jour:hover,
body main #menu #_menu #_nuit:hover {
  cursor: pointer;
  box-shadow: #fff 0px 0px 10px 0px;
  background-color: rgba(37, 36, 36, 0.318);
}
body main #reservation {
  width: 70%;
  margin: auto;
  height: 100vh;
  align-items: center;
  border-bottom: 1px solid rgb(187, 49, 49);
}
body main #reservation h2 {
  font-family: "Great Vibes";
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin-top: 4em;
  margin-bottom: 1.5em;
}
body main #reservation #for_m {
  background-image: url(../assets/Dining.jpg);
  background-size: cover;
  width: 100%;
  z-index: 50;
  padding: 10px;
  border-radius: 10px;
}
body main #reservation #for_m form {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body main #reservation #for_m form input {
  height: 2.2em;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 1px;
  color: #fff;
  background-color: rgba(46, 45, 45, 0.298);
  font-size: 20px;
  font-family: "Great Vibes";
}
body main #reservation #for_m form #f_line {
  margin: auto;
  width: 95%;
  margin-top: 8em;
}
body main #reservation #for_m form #s_line {
  margin: auto;
  width: 95%;
  margin-top: 0.8em;
}
body main #reservation #for_m form label {
  font-family: "Great Vibes";
  font-size: 25px;
  padding: 5px;
  color: rgb(250, 250, 250);
}
body main #reservation #for_m form #bbt {
  width: 150px;
  margin: 7px;
  border-radius: 6px;
  margin-top: 1.8em;
  font-family: "Great Vibes";
  font-size: 30px;
}
body main #reservation #for_m form #bbt:hover {
  background-color: rgb(60, 59, 59);
}
body main .msg {
  width: 70%;
  margin: auto;
  margin-top: 2em;
  height: 100vh;
  border-bottom: 1px solid rgb(187, 49, 49);
}
body main .msg #type_of_msg {
  width: 50%;
  margin: auto;
  margin-top: 4.5em;
  margin-bottom: 1.5em;
  font-size: 50px;
  text-align: center;
  font-family: "Great Vibes";
}
body main .msg #_message {
  width: 80%;
  margin: auto;
  padding: 5px;
}
body main .msg #_message #text_msg {
  margin: auto;
  font-size: 30px;
  font-family: "Great Vibes";
  width: 90%;
  text-align: center;
}
body main #thnks {
  width: 100%;
  margin-top: 5em;
  height: 100vh;
  padding: 10px;
  display: grid;
}
body main #thnks h2 {
  width: 50%;
  position: relative;
  padding: 5px;
  font-size: 6em;
  font-family: "Rubik Mono One", sans-serif;
}
body main #contact {
  width: 70%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(187, 49, 49);
  border-top: 1px solid rgb(187, 49, 49);
}
body main #contact h2 {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 50px;
  font-family: "Great Vibes";
  margin-bottom: 2.5em;
  margin-top: 0.5em;
  padding: 10px;
}
body main #contact #cont {
  width: 80%;
  text-align: center;
}
body main #contact #cont ul {
  list-style: none;
}
body main #contact #cont ul li {
  padding: 5px;
}
body footer {
  width: 100%;
  height: 20vh;
  padding: 5px;
  display: flex;
}
body footer #social_media {
  width: 25%;
  height: 7em;
  margin: auto;
  padding: 5px;
  align-self: center;
}
body footer #social_media ul {
  width: 100%;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
body footer #social_media ul li {
  width: 33.3333333333%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer #social_media ul li a {
  width: 50%;
  height: 50%;
}
body footer #social_media ul li #_twt {
  background-image: url(../assets/twitter-3-logo-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
body footer #social_media ul li #_inst {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../assets/instagram-color-svgrepo-com.svg);
}
body footer #social_media ul li #_tik {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../assets/tiktok-logo-logo-svgrepo-com.svg);
}/*# sourceMappingURL=index.css.map */