// @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
@mixin imgcenter {
    transform-origin: center;
    width: 100%;
    background-size: cover;
}

@mixin social_svg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@mixin flexcenter {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

::before,
::after,
* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    overflow-x: hidden;

    header {
        height: 100vh;
        background-image: url(../assets/image1.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        nav {
            position: sticky;
            top: 0;
            height: 6em;
            padding: 10px;
            backdrop-filter: blur(10px);
            @include flexcenter;

            ul {
                width: 45%;
                margin-right: 2em;
                @include flexcenter;

                li {
                    list-style: none;
                    padding: 5px;
                    border-bottom: 2px white solid;

                    a {
                        font-size: 18px;
                        color: #fff;

                    }
                }
            }

            #logo {
                width: 30%;
                color: coral;
                margin-left: 2em;
                font-size: 35px;
                font-weight: 700;
                font-style: bold;
                font-family: 'Cinzel', sans-serif;
            }

            #arrow {
                display: none;

            }
        }

        #dateTime {
            width: 400px;
            height: 150px;
            margin-top: 6em;
            padding: 2px;
            opacity: 0;
            position: relative;
            float: right;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border: white 1px solid;
            background-color: #000000;
            transform: translateX(200px);

            h3 {
                width: 100%;
                padding: 5px;
                font-size: 40px;
                margin-top: 15px;
                text-align: center;
                font-family: 'Great Vibes';

            }

            p {
                width: 90%;
                margin: auto;
                margin-top: 15px;
                text-align: center;
            }

        }
    }

    // section principale

    main {
        width: 100%;

        #sec_nav {
            position: sticky;
            top: 0;
            height: 4em;
            padding: 10px;
            z-index: 50;
            backdrop-filter: blur(10px);
            @include flexcenter;

            ul {
                width: 45%;
                margin: auto;
                @include flexcenter;

                li {
                    list-style: none;
                    padding: 5px;
                    border-bottom: 2px white solid;

                    a {
                        font-size: 18px;
                        color: #fff;

                    }
                }
            }
        }

        // section qui sommes nous
        #wwr {
            width: 80%;
            max-width: 1280px;
            height: 100vh;
            margin: auto;
            margin-bottom: 2em;
            margin-top: 2em;
            border-bottom: 1px solid rgb(187, 49, 49);

            h1 {
                width: 100%;
                text-align: center;
                padding: 10px;
                font-size: 40px;
                margin-bottom: 1.5em;
                margin-top: 1.5em;
                font-family: 'Great Vibes';

            }

            #infous {
                width: 100%;
                @include flexcenter;

                #wwr_t,
                #wwr_p,
                #wwr_rs {
                    width: 32%;
                    height: 500px;
                    border-radius: 10px;
                    text-align: justify;
                    padding: 10px;
                }

                #wwr_t:hover,
                #wwr_p:hover,
                #wwr_rs:hover {
                    background-color: rgba(60, 59, 59, 0.291);
                }

                #wwr_p,
                #wwr_t,
                #wwr_rs {
                    h2 {
                        width: 100%;
                        text-align: center;
                        padding: 5px;
                        margin-bottom: 0.5em;
                    }

                    #img_rest {
                        overflow: hidden;

                        #img1 {
                            @include imgcenter;
                        }
                    }

                    #img {
                        overflow: hidden;

                        #img2 {
                            @include imgcenter;
                        }
                    }

                    #img_team {
                        overflow: hidden;

                        #img3 {
                            @include imgcenter;
                        }

                    }

                    #img,
                    #img_team,
                    #img_rest {
                        height: 200px;
                        width: 200px;
                        margin: auto;
                        margin-bottom: 0.5em;
                        background-color: #fff;
                        border-radius: 100%;
                    }

                    #memo,
                    #memo_team {
                        margin-top: 1.5em;
                    }

                    #sign {
                        width: 100%;
                        text-align: center;
                        margin-top: 4em;

                        h5 {
                            text-decoration: underline;
                            font-size: 2opx;
                        }
                    }
                }
            }
        }

        /* section plats*/
        #plats {
            width: 70%;
            height: 100vh;
            margin: auto;
            margin-top: 5em;
            margin-bottom: 5em;

            h2 {
                width: 80%;
                padding: 10px;
                margin: auto;
                text-align: center;
                font-size: 70px;
                font-family: 'Great Vibes', cursive;
            }

            #p_p {
                width: 80%;
                height: 80%;
                overflow: hidden;
                margin: auto;

                #i_plat {
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transition: transform 0.5s;
                }

                .zoom {
                    transform: scale(1.1);
                }
            }
        }


        /* section menue*/

        #menu {
            width: 70%;
            margin: auto;
            margin-top: 3em;
            padding: 5px;
            border-bottom: 1px solid rgb(187, 49, 49);

            h2 {
                width: 50%;
                text-align: center;
                font-size: 40px;
                font-family: 'Great Vibes';
                margin: auto;
                margin-bottom: 1.5em;
            }

            #_menu {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5em;

                #_jour,
                #_nuit {
                    border-radius: 10px;
                    width: 50%;
                    text-align: center;
                    padding: 10px;

                    h2 {
                        font-size: 30px;
                        margin-top: 1em;
                        margin-bottom: 1.5em;
                    }

                    table {
                        width: 100%;
                        padding: 10px;
                        border-collapse: collapse;

                        tr {
                            display: flex;
                            padding: 3px;
                            border-bottom: #fff 2px solid;
                            margin-bottom: 1.5em;
                            justify-content: space-around;
                            text-align: center;

                            th {
                                font-size: 20px;
                                padding: 5px;
                                margin-bottom: 5px;
                            }

                            td {
                                width: 40%;
                                margin: auto;
                                text-align: center;
                            }

                        }

                    }
                }

                #_jour:hover,
                #_nuit:hover {
                    cursor: pointer;
                    box-shadow: #fff 0px 0px 10px 0px;
                    background-color: rgba(37, 36, 36, 0.318);
                }


            }

        }

        // section horaire

        #horaire {
            width: 70%;
            height: 60vh;
            margin: auto;
            display: flex;
            padding: 5px;
            margin-top: 5em;
            flex-direction: column;
            justify-content: space-between;

            // border: #c83131 2px solid;
            #hr {
                width: 100%;
                // border: #31c83b 2px solid;
                padding: 10px;
                font-family: 'Great Vibes';
                font-size: 30px;
                text-align: center;
                // margin-bottom: 0;
                // margin-top: 0;
                margin-bottom: 1em;

            }

            h2 {
                width: 100%;
                // border: #c83131 2px solid;
                padding: 10px;
                font-family: 'Great Vibes';
                font-size: 30px;
                text-align: center;
                // margin-top: 1em;
            }

            ul {
                width: 100%;
                // border: #c83131 2px solid;
                padding: 5px;
                flex-grow: 1;
                margin-bottom: 1em;
                @include flexcenter;

                li {
                    padding: 5px;
                    list-style: none;
                    width: calc(100%/7);
                    height: 100%;
                    flex-grow: 1;
                    text-align: center;
                    border-radius: 6px;
                    border: rgba(187, 49, 49, 0) 2px solid;

                    div {
                        font-size: 18px;
                        height: calc(100%/5);

                        h3 {
                            font-family: 'Great Vibes';
                        }
                    }
                }

                li:hover {
                    background-color: #3b3b3b;
                    border: rgb(187, 49, 49) 2px solid;
                }
            }

            ul:hover {
                border-radius: 6px;
                background-color: #504f4fa3;
            }


            border-bottom: 1px solid rgb(187, 49, 49);
        }

        // section reservation
        #reservation {
            width: 70%;
            margin: auto;
            height: 100vh;
            align-items: center;
            border-bottom: 1px solid rgb(187, 49, 49);

            h2 {
                font-family: 'Great Vibes';
                width: 50%;
                margin: auto;
                text-align: center;
                font-size: 50px;
                padding: 10px;
                margin-top: 4em;
                margin-bottom: 1.5em;
            }

            #for_m {
                background-image: url(../assets/Dining.jpg);
                background-size: cover;
                background-position: center;

                width: 100%;
                z-index: 50;
                padding: 10px;
                border-radius: 10px;

                form {
                    margin-top: 3em;
                    margin-bottom: 3em;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    input {
                        height: 2.2em;
                        border-radius: 6px;
                        outline: none;
                        border: none;
                        padding: 1px;
                        color: #fff;
                        background-color: rgba(46, 45, 45, 0.298);
                        font-size: 20px;
                        font-family: 'Great Vibes';
                    }

                    #f_line {
                        margin: auto;
                        width: 95%;
                        margin-top: 8em;
                    }

                    #s_line {
                        margin: auto;
                        width: 95%;
                        margin-top: 0.8em;
                    }

                    label {
                        font-family: 'Great Vibes';
                        font-size: 25px;
                        padding: 5px;
                        color: rgb(250, 250, 250);
                    }

                    #bbt {
                        width: 150px;
                        margin: 7px;
                        border-radius: 6px;
                        margin-top: 1.8em;
                        font-family: 'Great Vibes';
                        font-size: 30px;
                    }

                    #bbt:hover {
                        background-color: rgb(60, 59, 59);
                    }
                }

            }
        }

        .msg {
            width: 70%;
            margin: auto;
            margin-top: 2em;
            height: 100vh;
            border-bottom: 1px solid rgb(187, 49, 49);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #type_of_msg {
                width: 50%;
                margin: auto;
                margin-top: 4.5em;
                margin-bottom: 1.5em;
                font-size: 50px;
                text-align: center;
                font-family: 'Great Vibes';
            }

            #_message {
                width: 80%;
                margin-bottom: 10em;
                padding: 5px;

                #text_msg {
                    margin: auto;
                    font-size: 30px;
                    font-family: 'Great Vibes';
                    width: 90%;
                    text-align: center;
                }
            }

        }

        #thnks {
            width: 100%;
            margin-top: 5em;
            height: 100vh;
            padding: 10px;
            display: grid;
            overflow: -moz-hidden-unscrollable;
            background-image: url(../assets/aa7d3f_e5c6a0f393fa453cba375d4d3d47bdef~mv2.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            h2 {
                width: 50%;
                position: relative;
                color: rgb(0, 0, 0);
                padding: 5px;
                font-size: 6em;
                font-family: 'Rubik Mono One', sans-serif;

            }
        }

        #contact {
            width: 70%;
            margin: auto;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgb(187, 49, 49);

            h2 {
                width: 50%;
                text-align: center;
                margin: auto;
                font-size: 50px;
                font-family: 'Great Vibes';
                margin-bottom: 2.5em;
                margin-top: 0.5em;
                padding: 10px;
            }

            #cont {
                width: 80%;
                text-align: center;

                ul {
                    list-style: none;

                    li {
                        padding: 5px;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        height: 20vh;
        padding: 5px;
        display: flex;

        #social_media {
            width: 25%;
            height: 7em;
            margin: auto;
            padding: 5px;
            align-self: center;

            ul {
                width: 100%;
                height: 90%;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;

                li {
                    width: calc(100%/3);
                    height: 95%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        width: 50%;
                        height: 50%;
                    }

                    #_twt {
                        background-image: url(../assets/twitter-3-logo-svgrepo-com.svg);
                        @include social_svg;
                    }

                    #_inst {
                        @include social_svg;
                        background-image: url(../assets/instagram-color-svgrepo-com.svg);
                    }

                    #_tik {
                        @include social_svg;
                        background-image: url(../assets/tiktok-logo-logo-svgrepo-com.svg);
                    }
                }
            }

        }
    }

    @media only screen and (max-width: 950px) {
        header {
            width: 100%;
            height: 100vh;
            background-image: url(../assets/resto-setting-standard.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            nav {
                width: 100%;
                height: 5em;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                #logo {
                    width: 80%;
                    margin: auto;
                    text-align: center;
                }

                #arrow {
                    font-size: 25px;
                    margin: auto;
                    margin-top: 0.5em;
                    text-align: center;
                    background-color: #42424263;
                    border-radius: 100%;
                    width: 50px;
                    height: 3em;
                    @include flexcenter;

                    .as {
                        border: 2px solid black;
                        width: 100%;
                    }
                    .as:nth-child(1){
                        transform: rotateX('45deg');
                    }


                }

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 50vh;
                    width: 100%;
                    max-width: 700px;
                    margin: auto;
                    padding-top: 10px;
                    padding-bottom: 30px;
                    margin-top: 30px;
                    background-color: #ffffff50;

                    li {
                        width: 80%;
                        margin: auto;
                        margin-top: 10px;
                        text-align: center;
                        padding: 5px;
                        border-bottom: 2px solid white;

                        a {
                            width: 100%;
                            text-align: center;
                            color: #090101d2;
                        }
                    }
                }
            }
        }

        main {
            #sec_nav {
                width: 100%;
                height: 10vh;
                display: flex;
                flex-direction: column;

                span {
                    width: 5%;
                    border-radius: 100%;
                    margin: auto;
                    text-align: center;
                    background-color: #ffffffad;
                    transform: translate(0px, 45px);
                }

                ul {
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    height: 50vh;
                    width: 100%;
                    max-width: 700px;
                    margin: auto;
                    padding-top: 10px;
                    padding-bottom: 30px;
                    margin-top: 30px;
                    background-color: #fffffff8;

                    li {
                        width: 80%;
                        margin: auto;
                        margin-top: 10px;
                        text-align: center;
                        padding: 5px;
                        border-bottom: 2px solid rgb(23, 5, 5);

                        a {
                            width: 100%;
                            text-align: center;
                            color: #090101d2;
                        }
                    }
                }
            }

            #wwr {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    width: 90%;
                    margin: auto;
                    margin-bottom: 2em;
                }

                #infous {
                    max-width: 500px;
                    width: 95%;
                    margin: auto;
                    display: flex;
                    margin-bottom: 2em;
                    flex-direction: column;
                    justify-content: center;

                    #wwr_rs,
                    #wwr_p,
                    #wwr_t {

                        width: 100%;
                        height: 110vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h2 {
                            width: 100%;
                            height: 10vh;
                            padding: 15px;
                            align-self: center;
                        }

                        #img_rest,
                        #img,
                        #img_team {
                            border-radius: 10px;
                            width: 100%;
                            margin-top: 0;
                            height: 50vh;
                            background-size: cover;

                            .i {
                                max-width: 500px;
                                width: 100%;
                                height: 100%;
                                background-position: 0;
                            }

                        }

                        p {
                            margin-top: 4em;
                        }
                    }
                }
            }

            #plats {
                width: 95%;
                margin: auto;

                h2 {
                    width: inherit;
                    font-size: 3rem;
                    padding: 10px;
                    margin-top: 1em;
                }

                #p_p {
                    width: 100%;
                    height: 90vh;
                    overflow: hidden;

                    #i_plat {
                        width: 100%;
                        height: 100%;
                        background-size: auto;
                        background-repeat: no-repeat;
                    }
                }

            }

            #menu {
                width: 95%;
                margin: auto;
                margin-top: 2em;

                h2 {
                    padding: 10px;
                    width: inherit;
                    margin-top: 1em;
                }

                #_menu {
                    display: block;
                    width: 100%;

                    #_jour,
                    #_nuit {
                        max-width: 550px;
                        margin: auto;
                        width: inherit;
                        margin-bottom: 2em;
                        border-bottom: 1px solid #c83131;
                    }
                }
            }

            #horaire {
                width: 100%;
                height: auto;
                display: flex;
                padding: 5px;
                margin-top: 5em;
                flex-direction: column;
                justify-content: space-between;

                #hr {
                    width: 100%;
                    padding: 10px;
                    font-family: 'Great Vibes';
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 1em;

                }

                h2 {
                    width: 100%;
                    padding: 10px;
                    font-family: 'Great Vibes';
                    font-size: 30px;
                    text-align: center;
                    // margin-top: 1em;
                }

                ul {
                    width: 100%;
                    max-width: 550px;
                    margin: auto;
                    // border: #c83131 2px solid;
                    padding: 5px;
                    flex-grow: 1;
                    margin-bottom: 1em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // @include flexcenter;

                    li {
                        padding: 5px;
                        list-style: none;
                        width: 90%;
                        margin: auto;
                        // height: 100%;
                        flex-grow: 1;
                        text-align: center;
                        border-radius: 6px;
                        border: rgba(187, 49, 49, 0) 2px solid;

                        div {
                            font-size: 18px;
                            padding: 2px;
                            margin-top: 0.2em;
                            // height: calc(100%/5);

                            h3 {
                                visibility: hidden;
                            }
                        }
                    }

                    li:hover {
                        background-color: #3b3b3b;
                        border: rgb(187, 49, 49) 2px solid;
                    }
                }

                ul:hover {
                    border-radius: 6px;
                    background-color: #504f4fa3;
                }


                border-bottom: 1px solid rgb(187, 49, 49);
            }

            #reservation {
                width: 95%;
                max-width: 550px;
                display: block;
                height: auto;

                div {
                    width: 100%;

                    h2 {
                        text-align: center;
                        width: 100%;
                    }
                }

                #for_m {
                    width: 100%;
                    margin-bottom: 2em;

                    form {
                        width: 100%;
                        display: block;

                        #f_line,
                        #s_line {
                            display: block;
                            width: 100%;

                            label {
                                // font-size: 25px;
                                width: 100%;
                                padding-top: 0.9em;
                            }

                            input {
                                width: inherit;
                                width: 100%;
                            }

                        }

                        #bbt {
                            width: 95%;
                        }
                    }
                }
            }

            // message
            #thnks {
                margin-top: 2em;
                width: 100%;

                h2 {
                    font-size: 50px;
                    color: red;
                }
            }

            #contact {
                width: 95%;
                margin: auto;

                h2 {
                    width: 100%;
                    font-size: 35px;
                }

                #cont {
                    width: 85%;
                }
            }
        }

        footer {
            width: 100%;

            #social_media {
                width: 60%;
            }
        }

        // ligne vert

    }

    @media screen and (min-width: 950px) and (max-width: 1300px) {
        header {
            nav {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: auto;

                #logo {
                    width: 100%;
                    // margin: auto;
                    text-align: center;
                    padding: 10px;
                }

                #arrow {
                    display: none;
                }

                ul {
                    width: 70%;
                    margin: auto;
                    padding: 10px;

                }
            }
        }

        main {
            #sec_nav {
                width: 100%;

                ul {
                    width: 70%;
                    max-width: 700px;
                }
                span{
                    display: none;
                }
            }

            #wwr {
                width: 70%;
                height: auto;
                margin: auto;
                #infous{
                    display: block;
                    #wwr_rs,#wwr_p,#wwr_t{
                        width: 100%;
                        height: 400px;
                        padding: 0;
                        @include flexcenter;
                        h2{
                            display: none;
                        }
                        #img_rest{
                            width: 40%;
                            height: 100%;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                            border: #fff 2px solid;
                            // border-radius: 0;
                            // display: none;
                        }
                        p{
                            padding: 10px;
                            border: #fff 2px solid;
                            width: 60%;
                        }

                    
                }
            }

            #plats {
                width: 95%;
                margin: auto;
            }

            #menu {
                width: 95%;
                margin: auto;
            }

            #horaire {
                width: 95%;
                margin: auto;
            }

            #reservation {
                width: 95%;
                margin: auto;
            }

            #message {
                width: 95%;
                margin: auto;
            }
        }

    }
}
}
